.container{
  width: 150px;
  height: 150px;
  background: white;
  padding: 10px;
  font-size: 48px;
  border: 10px solid red;
  border-bottom-color: yellow;
  box-sizing: border-box;
  overflow: auto;
  text-overflow: '>';
}

body{
  background-color: #09f;
}
